@model IEnumerable<PojisteniWebApp.Models.IndividualContract>
@using Microsoft.AspNetCore.Identity
@using PojisteniWebApp.Classes
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Index";
}


@if (User.IsInRole(UserRoles.Admin))
{
    <h1>Přehled uzavřených smluv</h1>
}
else
{
    <h1>Vaše uzavřené smlouvy</h1>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectOfInsurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuredPerson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (User.IsInRole(UserRoles.Admin))
        {
            @foreach (var contract in Model)
            {
                <tr>
                    <td>
                         @Html.DisplayFor(modelItem => contract.InsuranceType.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => contract.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => contract.SubjectOfInsurance)
                    </td>
                    <td>
                        <p>@contract.InsuredPerson.FirstName @contract.InsuredPerson.LastName</p>
                    </td>
                    <td class="text-end">
                        <a asp-controller="InsuranceEvents" asp-action="Create" asp-route-individualContractId="@contract.Id" class="btn btn-sm btn-success my-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle me-1" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg>Nahlásit pojistnou událost
                        </a>
                        <a asp-action="Edit" asp-route-id="@contract.Id" class="btn btn-sm btn-warning my-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square me-1" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>Upravit
                        </a>
                        <a asp-action="Details" asp-route-id="@contract.Id" class="btn btn-info btn-sm my-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search me-1" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>Detail
                        </a>
                        <a asp-action="Delete" asp-route-id="@contract.Id" class="btn btn-danger btn-sm my-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill me-1" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>Smazat
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            @foreach (var contract in Model)
            {
                if (contract.InsuredPerson.Email == User.Identity.Name)
                {
                    <tr>
                        <td>  
                            @Html.DisplayFor(modelItem => contract.InsuranceType.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => contract.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => contract.SubjectOfInsurance)
                        </td>
                        <td>
                           <p>@contract.InsuredPerson.FirstName @contract.InsuredPerson.LastName</p>
                        </td>
                        <td class="text-end">
                            <a asp-controller="InsuranceEvents" asp-action="Create" asp-route-individualContractId="@contract.Id" class="btn btn-sm btn-success my-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle me-1" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                </svg>Nahlásit pojistnou událost
                            </a>
                            <a asp-action="Edit" asp-route-id="@contract.Id" class="btn btn-sm btn-warning my-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square me-1" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </svg>Upravit
                            </a>
                            <a asp-action="Details" asp-route-id="@contract.Id" class="btn btn-sm btn-info my-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search me-1" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>Detail
                            </a>
                            <a asp-action="Delete" asp-route-id="@contract.Id" class="btn btn-sm btn-danger my-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill me-1" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                </svg>Smazat
                            </a>
                        </td>
                    </tr>
                }   

            } 
        }
    </tbody>
</table>
<div class="mt-5">
    <p>Individiální pojištění můžete sjednat v detailech pojištence</p>
</div>
